@mixin centeredElements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin a-links($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
      text-decoration: none;
    }
    &:active {
      color: $active;
    }
  }
}
/*
  Mobilde Device 0-600px
  Table: 600-900
  Tablet Landscape 900-1200
  Desktop: 1200-1800
  Large Display: 1800+

  $screenSize
  smallphone5
  phone6
  tabletPort7
  tabletPort8
  tabletPort9
  tabletLand1
  tabletLand2
  tabletLand3
  desktop
  lgdesktop

*/

@mixin mediaQuery($screenSize) {
  @if($screenSize == smallPhone5) {
    @media (max-width: 31.2em) { // 500px / 16
      @content
    };
  }

  @if ($screenSize == phone6) {
    @media(max-width: 37.5em) {
      @content
    };
  }

  @if ($screenSize == tabletPort7) {
    @media(max-width: 43.5em) {
      @content
    }
  }

  @if ($screenSize == tabletPort8) {
    @media(max-width: 50em) {
      @content
    }
  }

  @if ($screenSize == tabletPort9) {
    @media(max-width: 56.25em) {
      @content
    }
  }

  @if ($screenSize == tabletLand1) {
    @media(max-width: 62.5em) {
      @content
    }
  }

  @if ($screenSize == tabletLand11) {
    @media(max-width: 68.5em) {
      @content
    }
  }

  @if ($screenSize == tabletLand12) {
    @media(max-width: 75em) {
      @content
    }
  }

  @if ($screenSize == tabletLand13) {
    @media(max-width: 81.25em) {
      @content
    }
  }
  @if ($screenSize == desktop) {
    @media(min-width: 112.5px) {
      @content
    }
  }




}

