$primary-color               : #ffcccc;
$primary-color-light         : #ff9999;
$primary-color-dark          : #ff6666;
$primary-color-very-dark     : #e24848;

//secondary color
$secondary-color             : #c74200;
$secondary-color-light       : #fad884;
$secondary-color-dark        : #f56b26;

$color-crimson-red           : #eb1f27;

$grey-color                  : rgb(138, 138, 138);
$grey-color-dark             : rgb(97, 96, 96);
$grey-color-very-dark        : rgb(34, 33, 33);
$color-grey-dark             : #333;

$color-white                 : #fff;
$white-smoker                : rgb(240, 238, 237);

$color-black                 : #000;


//start with scss profile colours
$profile-color-primary       : #eb2f64;
$profile-color-primary-light : #ff3366;
$profile-color-primary-dark  : #8a265D;

$profile-color-grey-light-1  : #faf9f9;
$profile-color-grey-light-2  : #f4f2f2;
$profile-color-grey-light-3  : #f0eeee;
$profile-color-grey-light-4  : #ccc;

$profile-color-grey-dark-1   : #333;
$profile-color-grey-dark-2   : #777;
$profile-color-grey-dark-3   : #999;

$profile-color-black         : rgb(0, 0, 0);
$profile-caption-primary     : #101d2c;

//for display posts
$for-sale                    : #e4e709;
$for-sale-dark               : rgb(150, 140, 0);


$color-secondary-light       : #fad884;
$color-secondary-dark        : #f56b26;

$color-tertiary-light        : #2998ff;

$color-tertiary-dark         : #5643fa;

$color-tertiary-very-light   : #89c2f7;
$color-tertiary-very-dark    : #00213f;
$color-green-light           : rgb(98, 255, 66);
$color-green-dark            : rgb(0, 139, 46);


//color for login and register form
$profile-color-magenta       : #FF00FF;
$profile-color-mediumpurple  : #9370DB;
$profile-color-orchid        : #FF00FF;
$profile-color-darkviolet    : #9370DB;
$profile-color-indigo        : #FF00FF;
$profile-color-light         : #9370DB;

//color for the input style
$color-grey-dark-2           : #999;
$color-grey-light-2          : rgb(224, 215, 215);

//Australian realeastate company color:
$color-harcourts             : #001f49;
$color-brad-teal             : #1c2273;
$color-upa                   : #ffeb01;
$color-barryplant            : #fdfdfd;
$color-iconek                : #231f20;

//social media icons colors
$facebook                    : #3b5998;
$twitter                     : #1da1f2;
$youtube                     : #ff0000;
$instagram                   : #c32aa3;
$pinterest                   : #bd081c;
$linkedln                    : #007bb5;
$google                       : #db4437;
$snapchat                    : #fffc00;
$watsup                      : #25d366;
$tumblr                      : #35465d;
$reddit                      : #ff4500;
$spotify                     : #ff4500;
$amazon                      : #ff9900;


//fonts:
$default-font-size           : 1.6rem; // 16px

$nunito-font                 : 'Nunito', sans-serif;
$lato-font                   : 'Lato', sans-serif;
$roboto-font                 : 'Roboto', sans-serif;
$open-sans-font              : 'Open Sans', sans-serif;

