.footer {
  padding: 7rem;
  @include a-links($color-white, $color-white, $color-white, $color-white);
  background-color: $color-tertiary-very-dark;
  -webkit-clip-path: polygon(100% 22%, 100% 22%, 100% 99%, 0 100%, 0 0);
  clip-path: polygon(100% 22%, 100% 22%, 100% 99%, 0 100%, 0 0);

  .row[class^="col-"] {
    margin-right: 0rem !important;
  }

  font-size: 1.6rem;
  color: $color-white;

  &__logo {
    width: 15rem;
    height: auto;
    margin-top: 2em;

    &:hover {
      cursor: pointer;
    }
  }

  &__logob {
    width: 100%;
    //height: 15rem;
    //background-color: green;
    text-align: center;
    margin-bottom: 3rem;
    background-image: linear-gradient(
                    to right,
                    $color-tertiary-very-dark,
                    $color-tertiary-very-light,
                    $color-tertiary-very-dark
    );
  }

  &__navigation {
    width: 100%;
    margin-left: 3rem;
    padding-top: 2.5rem;
    display: inline-block;
    font-size: 1.8rem;
    border-top: 1px solid $color-white;
  }

  &__items {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &__shine {

    }

    &__shine:hover {
      background-color: green;
      -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
    }
  }

  &__elements {
    list-style: none;
  }

  &__copyright {
    width: 100%;

    .fab {
      padding-top: 1rem;
      font-size: 2rem;
      height: 4rem;
      width: 4rem;
      text-decoration: none;
      border-radius: 50% ;
      background: $color-black;
      text-align: center;
      margin: 0 auto;

      &:hover {
        opacity: .7;
      }
    }

    .fa-facebook {
      background: $facebook;
      color: $color-white;
    }
    .fa-twitter {
      background: $twitter;
      color: $color-white;
    }

    .fa-google {
      background: $google;
      color: $color-white;
    }

    .fa-instagram {
      background: $instagram;
      color: $color-white;
    }

    .fa-linkedin {
      background: $linkedln;
      color: $color-white;
    }

    .fa-youtube {
      background: $youtube;
      color: $color-white;
    }

    .fa-pinterest {
      background: $pinterest;
      color: $color-white;
    }
  }
}

