.profile-search {
  background-color : $profile-caption-color;
  border-top       : 1px solid grey;
  color            : $color-white;

  @include mediaQuery(tabletPort9) {
    flex-direction: column;
  }

  &__search-box {
    display         : flex;
    justify-content : center;
    flex            : 0 0 50%;
    margin-top      : 3rem;
    position        : relative;


    @include mediaQuery(tabletPort9) {
      margin-top : 1rem;
      margin-bottom : 1rem;
    }

    .icon-btn-left, .icon-btn-right {
      position         : absolute;
      border           : none;
      background-color : inherit;

      @include mediaQuery(tabletPort9) {
        display: none;
      }
    }

    .icon-btn-left {
      top  : 1.3rem;
      left : 5.3rem;
    }


    .icon-btn-right {
      top   : 1.3rem;
      right : 5.5rem;
    }



    &__icon {
      height : 3rem;
      width  : 3rem;
      fill   : $color-green-dark;
    }


  }

  &__input {
    padding      : 1rem 6rem;
    font-size    : 1.6rem;
    font-family  : $roboto-font;
    height       : 5.5rem;
    width        : 90%;
    border       : none;
    outline      : none;
    border-right : 4px solid $color-green-dark;
    @include mediaQuery(tabletPort9) {
      border-left: none;
      border-right: none;
      width : 95%;
    }
  }

  &__input--2 {
    border-left  : 4px solid $color-green-dark;
    border-right : none;

    @include mediaQuery(tabletPort9) {
      border-left: none;
    }
  }



}