.section-main {
  background-color: $color-white;
  margin-bottom: 5rem;
}

.container-fluid {
  margin-right: 0rem !important;
  margin-left: 1rem !important;

  @include mediaQuery(phone6) {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
}
.col-md-3 {
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}

.row {
  [class="col-"] {
    &:last-child {
      margin-right : 0rem !important;
    }

    @include mediaQuery(phone6) {
      margin-right : 0 !important;
    }
  }

  margin-right : 1rem !important;
}