/*
small mobile device 0-500px
mobile device 0-600px
tablet 600-900
tablet landscape 900-1200
desktop 1200 -1800
large display 1800+
$screenSize
smallPhone5
phone6
tabletPort7
tabletPort8
tabletPort9
tabletLand1
tabletLand2
tabletLand3
desktop 1800px +
lgdesktop

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  font-size: 1.8rem;
  box-sizing: border-box; }

.heading-2 {
  font-size: 4rem;
  color: #101d2c;
  text-transform: uppercase;
  font-weight: bold; }

.heading-3 {
  font-size: 2rem;
  color: #ff6666;
  padding-left: 2rem; }

.beautiful-heading {
  font-size: 2.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #f4f2f2;
  padding-bottom: 2rem; }

.input-style, .textarea, .select-style {
  font-family: inherit;
  font-size: 2rem !important;
  height: 5rem;
  border-radius: 3px !important;
  color: #15b374; }
  .input-style input, .textarea input, .select-style input {
    font-size: inherit !important;
    width: 90%; }

.textarea {
  min-height: 15rem; }

.post-gallery {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(16, 29, 44, 0.9));
  font-family: "Nunito", sans-serif;
  position: relative; }
  .post-gallery .sliding-images {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 75%;
    height: 60rem;
    margin: 0 auto;
    grid-gap: 5px; }
    @media (max-width: 37.5em) {
      .post-gallery .sliding-images {
        width: 100%;
        height: 40rem; } }
  .post-gallery .slide {
    grid-row: 1/-1;
    grid-column: 1/-1; }
    .post-gallery .slide .carousel-inner img {
      background-position: top !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      height: 60rem !important;
      width: 100% !important; }
      @media (max-width: 37.5em) {
        .post-gallery .slide .carousel-inner img {
          height: 40rem !important; } }
  .post-gallery .carousel-control-next-icon,
  .post-gallery .carousel-control-prev-icon {
    width: 3rem !important;
    height: 3rem !important;
    background-color: transparent !important; }
  .post-gallery .gallery-description {
    z-index: 1;
    width: 70%;
    background-image: linear-gradient(rgba(0, 33, 63, 0.54), rgba(137, 194, 247, 0.4));
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
    color: #fff; }
    @media (max-width: 37.5em) {
      .post-gallery .gallery-description {
        padding: 0;
        width: 100%; } }
    .post-gallery .gallery-description-heading {
      font-size: 3rem;
      text-align: center;
      grid-column: 1 / span 2;
      grid-row: 1/2; }
    .post-gallery .gallery-description--icon {
      font-size: 2rem;
      display: flex;
      justify-content: center; }
    .post-gallery .gallery-description--desc {
      margin-left: 1rem; }

.post-author {
  color: #fff;
  background-color: #00213f;
  width: 100%; }
  .post-author__details {
    display: flex;
    justify-content: center; }
  .post-author__ring {
    margin-top: .8rem;
    margin-right: 2rem;
    background-color: #996515;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    position: relative; }
    .post-author__ring-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6.5rem;
      height: 6.5rem;
      background-color: black;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat; }
  .post-author__box {
    margin-left: 1.5rem; }
    .post-author__box .author_sold {
      font-size: 1.6rem; }
    .post-author__box .author_name {
      font-size: 2rem; }

.bonapp-image {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 2rem;
  justify-items: center; }
  .bonapp-image__logo {
    align-self: center;
    height: auto;
    width: 22rem; }
  .bonapp-image__edit {
    align-self: center;
    font-size: 4rem; }

.post-body__content {
  display: grid;
  grid-template-rows: repeat(4, min-content(1fr));
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-top: 3px solid black; }
  @media (max-width: 43.5em) {
    .post-body__content {
      margin-top: 2.5rem;
      margin: 2.5rem;
      grid-template-columns: repeat(3, 1fr); } }
  .post-body__content-sub {
    grid-column: 1/ span 2;
    padding: 2.5rem; }
    .post-body__content-sub > * {
      text-align: center; }
    .post-body__content-sub--2 {
      text-align: left !important;
      padding-top: 0.5rem; }
    @media (max-width: 43.5em) {
      .post-body__content-sub {
        grid-column: 1/-1;
        grid-row: 1/2;
        padding: 1rem 1.5rem; } }
  .post-body__content-desc {
    grid-row: 2/ span 2;
    grid-column: 1/ span 2;
    font-size: 1.9rem;
    padding: 1rem 2rem; }
    @media (max-width: 43.5em) {
      .post-body__content-desc {
        grid-column: 1/-1; } }
  .post-body__content .contact-agent-box {
    border-radius: 5px;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
    margin-top: 2.7rem;
    color: #fff;
    background-color: #000;
    grid-column: 3/-1;
    grid-row: 1/2; }
    @media (max-width: 43.5em) {
      .post-body__content .contact-agent-box {
        grid-column: 1/-1;
        grid-row: 4/5; } }
    .post-body__content .contact-agent-box-heading {
      height: 2rem;
      font-size: 2rem;
      color: #ff6666;
      padding: .5rem 1rem; }
    .post-body__content .contact-agent-box-desc {
      margin-top: 1rem;
      background-color: #eb1f27;
      padding: 1rem 2rem; }
    .post-body__content .contact-agent-box a {
      text-align: center; }
  .post-body__content-postmap {
    height: 100%;
    grid-row: 3/4;
    grid-column: 3/-1; }
    @media (max-width: 43.5em) {
      .post-body__content-postmap {
        text-align: center;
        grid-column: 1/-1;
        grid-row: 5/6; } }
    .post-body__content-postmap-address {
      padding: 1rem 2rem;
      font-size: 1.8rem; }
    .post-body__content-postmap-map {
      min-height: 25rem; }

.addition-content-info {
  border: 1px solid #eb1f27;
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-template-rows: repeat(4, min-content);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4); }
  .addition-content-info a {
    color: #e24848; }
    .addition-content-info a:visited {
      color: #c74200; }
    .addition-content-info a:hover {
      color: #8A265D;
      text-decoration: none; }
    .addition-content-info a:active {
      color: #f56b26; }
  .addition-content-info .ul-reset {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    list-style: none; }
  @media (max-width: 37.5em) {
    .addition-content-info .general_features {
      grid-row: 1/2;
      grid-column: 1/span 2; } }
  @media (max-width: 37.5em) {
    .addition-content-info .indoor_features {
      grid-row: 2/3;
      grid-column: 1/span 2; } }
  @media (max-width: 37.5em) {
    .addition-content-info .outdoor_features {
      grid-row: 3/4;
      grid-column: 1/span 2; } }
  @media (max-width: 37.5em) {
    .addition-content-info .floorplans_features {
      grid-row: 4/5;
      grid-column: 1/span 2; } }
  .addition-content-info .floorplans_features a {
    font-size: 2rem; }

.contact-agent {
  background-image: linear-gradient(to right, #26445f, #00213f);
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  color: #fff; }
  .contact-agent a {
    color: #008b2e; }
    .contact-agent a:visited {
      color: #008b2e; }
    .contact-agent a:hover {
      color: #eb2f64;
      text-decoration: none; }
    .contact-agent a:active {
      color: #FF00FF; }
  .contact-agent-company-name {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center; }
    @media (max-width: 43.5em) {
      .contact-agent-company-name {
        justify-self: start; } }
  .contact-agent .enquire-about {
    font-size: 2.2rem;
    color: #ccc;
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-self: center;
    border-bottom: 3px solid #f0eeee;
    margin-bottom: 3rem; }
    @media (max-width: 43.5em) {
      .contact-agent .enquire-about {
        justify-self: start; } }
  .contact-agent .realtors-profiles {
    padding-left: 2rem;
    margin-bottom: 3rem;
    grid-row: 3/4;
    grid-column: 1/span 3; }
    @media (max-width: 43.5em) {
      .contact-agent .realtors-profiles {
        grid-column: 1/-1;
        justify-self: center; } }
    .contact-agent .realtors-profiles-img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; }
  .contact-agent .realtors-profiles--2 {
    padding-left: 2rem;
    margin-bottom: 3rem;
    grid-row: 3/4;
    grid-column: 4/ -1; }
    @media (max-width: 43.5em) {
      .contact-agent .realtors-profiles--2 {
        grid-row: 4/5;
        grid-column: 1/-1;
        justify-self: center; } }
  .contact-agent-form {
    grid-row: 4/5;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 50%));
    grid-template-rows: repeat(6, min-content(1fr)); }
    @media (max-width: 43.5em) {
      .contact-agent-form {
        grid-template-columns: repeat(2, 1fr);
        grid-row: 5/6;
        grid-column: 1/-1;
        margin-left: 1rem; } }
    .contact-agent-form-name {
      grid-row: 1/2;
      grid-column: 1/1; }
      @media (max-width: 43.5em) {
        .contact-agent-form-name {
          grid-column: 1/-1; } }
    .contact-agent-form-email {
      grid-row: 2/3;
      grid-column: 1/1; }
      @media (max-width: 43.5em) {
        .contact-agent-form-email {
          grid-column: 1/-1; } }
    .contact-agent-form-phone-number {
      grid-row: 3/4;
      grid-column: 1/1; }
      @media (max-width: 43.5em) {
        .contact-agent-form-phone-number {
          grid-column: 1/-1; } }
    .contact-agent-form-reason_select {
      grid-row: 1/3;
      grid-column: 2/3; }
      @media (max-width: 43.5em) {
        .contact-agent-form-reason_select {
          grid-row: 5/6;
          grid-column: 1/-1; } }
    .contact-agent-form-massage {
      grid-row: 3/4;
      grid-column: 2/3; }
      @media (max-width: 43.5em) {
        .contact-agent-form-massage {
          grid-row: 7/8;
          grid-column: 1/-1; } }
    .contact-agent-form-btn {
      grid-row: 4/5;
      grid-column: 1/-1;
      justify-self: center;
      padding: 0.5rem 1rem;
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 20rem; }
      @media (max-width: 43.5em) {
        .contact-agent-form-btn {
          grid-row: 9/10;
          grid-column: 1/-1; } }
      .contact-agent-form-btn:hover {
        cursor: pointer;
        background-color: #eb2f64 !important; }

.post-comment {
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 4rem; }
  .post-comment label {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    padding-left: 2rem; }
  .post-comment input {
    font-size: 1.8rem;
    height: 3rem; }
  .post-comment .comment-btn {
    margin-left: 40%; }
    @media (max-width: 37.5em) {
      .post-comment .comment-btn {
        margin-left: 20%; } }

.footer {
  padding: 7rem;
  background-color: #00213f;
  -webkit-clip-path: polygon(100% 22%, 100% 22%, 100% 99%, 0 100%, 0 0);
  clip-path: polygon(100% 22%, 100% 22%, 100% 99%, 0 100%, 0 0);
  font-size: 1.6rem;
  color: #fff; }
  .footer a {
    color: #fff; }
    .footer a:visited {
      color: #fff; }
    .footer a:hover {
      color: #fff;
      text-decoration: none; }
    .footer a:active {
      color: #fff; }
  @media (max-width: 37.5em) {
    .footer {
      -webkit-clip-path: none;
      clip-path: none;
      padding: 2rem; } }
  .footer .row [class^="col-"] {
    margin-right: 0rem !important; }
  .footer__logo {
    width: 20rem;
    height: auto;
    margin-top: 2rem; }
    .footer__logo:hover {
      cursor: pointer; }
  .footer__logob {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    background-image: linear-gradient(to right, #00213f, #89c2f7, #00213f); }
  .footer__navigation {
    width: 100%;
    padding-top: 2.5rem;
    display: inline-block;
    border-top: 1px solid #fff; }
  .footer__items {
    display: inline-block; }
    .footer__items:not(:last-child) {
      margin-right: 1.5rem; }
    .footer__items__shine:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite; }
  .footer__elements {
    list-style: none; }
  .footer__copyright {
    border-top: 1px solid #fff;
    padding: 1rem;
    width: 100%; }
    .footer__copyright .fa {
      padding-top: 1rem;
      font-size: 2rem;
      height: 4rem;
      width: 4rem;
      text-decoration: none;
      border-radius: 50%;
      background-color: black;
      text-align: center;
      margin: 0 auto; }
      .footer__copyright .fa:hover {
        opacity: 0.7; }
      .footer__copyright .fa:not(:last-child) {
        margin-right: 1rem; }
      @media (max-width: 37.5em) {
        .footer__copyright .fa:not(:last-child) {
          margin-bottom: 1rem; } }
    .footer__copyright .fa-facebook {
      background: #3b5998;
      color: #fff; }
    .footer__copyright .fa-twitter {
      background: #55ACEE;
      color: #fff; }
    .footer__copyright .fa-google {
      background: #dd4b39;
      color: #fff; }
    .footer__copyright .fa-instagram {
      background: #125688;
      color: #fff; }
    .footer__copyright .fa-linkedin {
      background: #007bb5;
      color: #fff; }
    .footer__copyright .fa-pinterest {
      background: #cb2027;
      color: #fff; }
    .footer__copyright .fa-youtube {
      background: #bb0000;
      color: #fff; }

.scroll #scrollToTopButton {
  z-index: 1;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  height: 6rem;
  width: 6rem;
  font-size: 3.2rem;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  visibility: hidden; }

.scroll #scrollToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.scroll__arrowup {
  color: #eb1f27; }

.post-container {
  display: grid;
  grid-template-rows: repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .post-container .post-gallery {
    grid-column: full-start/full-end; }
  .post-container .post-author {
    grid-column: full-start/full-end;
    grid-row: 2/3; }
  .post-container .bonapp-image {
    grid-column: full-start/full-end;
    grid-row: 3/4; }
  .post-container .post-body__content {
    grid-column: center-start/center-end;
    grid-row: 4/5; }
    @media (max-width: 50em) {
      .post-container .post-body__content {
        grid-column: full-start/full-end;
        grid-row: 4/5; } }
  .post-container .addition-content-info {
    grid-column: center-start/center-end;
    grid-row: 5/6; }
  .post-container .contact-agent {
    grid-column: center-start/center-end;
    grid-row: 6/7; }
    @media (max-width: 50em) {
      .post-container .contact-agent {
        grid-column: full-start/full-end;
        grid-row: 4/5; } }
  .post-container .post-comment {
    grid-column: center-start/center-end;
    grid-row: 7/8; }
  .post-container .post-footer {
    grid-column: center-start/center-end;
    grid-row: 8/9; }
