.bonapp-image {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 2rem;
  justify-items: center;
  &__logo {
    align-self: center;
    height: auto;
    width: 22rem;
  }

  &__edit {
    align-self: center;
    font-size: 4rem;
  }

}